# Copyright 2024 AXA. All rights reserved.
version: "3.3"

services:
  local-flex:
    image: mulesoft/flex-gateway:1.10.1
    environment:
        - "FLEX_ENVOY_HEADERS_ENABLED=true"
        - "FLEX_DOWNSTREAM_CONNECTION_BUFFER_LIMIT_BYTES=1000000"
        - "FLEX_STREAM_IDLE_TIMEOUT_SECONDS=60"
        - "FLEX_UPSTREAM_CONNECTION_IDLE_TIMEOUT_SECONDS=60"
        - "FLEX_UPSTREAM_RESPONSE_TIMEOUT_SECONDS=60"
    ports:
      - 8083:8084
    volumes:
      - ./config:/usr/local/share/mulesoft/flex-gateway/conf.d/